_IGNORE_session
package-lock.json
session.data.json
node_modules
.node-persist
COVID_HELPER.data.json
_IGNORE_COVID_HELPER
audio.mp3
tests
1.js
media

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa
