_IGNORE_session
package-lock.json
session.data.json
node_modules
.node-persist
COVID_HELPER.data.json
_IGNORE_COVID_HELPER

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa

voice/voice.mp3
video/download.mp4
test/test.js
test.js
teste.js
teste.ts
assets/images/*
src/
